---
- name: Установка Nginx на Ubuntu
  hosts: webservers
  become: yes

  tasks:
    - name: Установка Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Запуск Nginx
      systemd:
        name: nginx
        state: started
        enabled: yes

    - name: Копирование страницы
      copy:
        src: files/index.html
        dest: /var/www/html/index.html
        owner: www-data
        group: www-data
        mode: '0644'
